@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_LayoutAdministrador";
}
<head>

</head>
<body>
    <div class="container">
        <div class="card mt-2">
            <div class="card-body">
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                    CREAR USUARIO
                </button>
            </div>
        </div>
        <div class="card mt-2">
            <div class="card-header">
                <i class="fas fa-table me-1"></i>
                Registro de Usuarios
            </div>
            <div class="card-body">
                <table id="datatablesSimple">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Nombres</th>
                            <th>Apellidos</th>
                            <th>Edad</th>
                            <th>Documento</th>
                            <th>Telefono</th>
                            <th>Direccion</th>
                            <th>Email</th>
                            <th>Tipo de Usuario</th>
                            <th>Estado</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody id="tablaUsuarios"></tbody>
                </table>
            </div>
        </div>



        <!-- Modal -->
        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <form id="registro">
                        <div class="modal-header">
                            <h5 class="modal-title" id="staticBackdropLabel">Registrar Usuario</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="card">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 mb-2 d-flex flex-column justify-content-end">
                                            <label class="form-label" placeholder="Nombre">Ingresa primer y segundo nombre</label>
                                            <input class="form-control" type="text" required name="nombres" />
                                        </div>
                                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 mb-2 d-flex flex-column justify-content-end">
                                            <label class="form-label" placeholder="Apellido">Ingresa primer y segundo apellido</label>
                                            <input class="form-control" type="text" required name="apellidos" />
                                        </div>
                                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 mb-2 d-flex flex-column justify-content-end">
                                            <label class="form-label" placeholder="Docuemnto">Documento</label>
                                            <input class="form-control" type="text" required name="documento" />
                                        </div>
                                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 mb-2 d-flex flex-column justify-content-end">
                                            <select class="form-select" required id="tipoDeDocumento" name="tipoDocumento">
                                                <option selected value="">Tipo de documento</option>
                                            </select>
                                        </div>
                                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 mb-2 d-flex flex-column justify-content-end">
                                            <label class="form-label" placeholder="direccion"> Direccion</label>
                                            <input class="form-control" type="text" required name="direccion" />
                                        </div>
                                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 mb-2 d-flex flex-column justify-content-end">
                                            <laber class="form-label" placeholder="telefono">Telefono</laber>
                                            <input class="form-control" type="text" required name="telefono" />
                                        </div>
                                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 mb-2 d-flex flex-column justify-content-end">
                                            <label class="form-label" placeholder="fecha de nacimiento"> Fecha de nacimiento </label>
                                            <input class="form-control" type="date" required name="fechanacimiento" />
                                        </div>
                                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 mb-2 d-flex flex-column justify-content-end">
                                            <label class="form-label" placeholder="ingrese correo electronico"> Ingrese correo electronico</label>
                                            <input class="form-control" type="email" required name="ingresecorreoelectronico" />
                                        </div>
                                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 mb-2 d-flex flex-column justify-content-end">
                                            <label class="form-label" placeholder="ingrese contraseña">Ingrese contraseña</label>
                                            <input class="form-control" type="password" required name="ingresecontraseña" />
                                        </div>
                                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 mb-2 d-flex flex-column justify-content-end">
                                            <label class="form-label" placeholder="">Confirmar contraseña</label>
                                            <input class="form-control" type="password" required name="confirmacontraseña" />
                                        </div>
                                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 mb-2 d-flex flex-column justify-content-end">
                                            <select class="form-select" required id="tipoUsuario" name="TipoUsuario">
                                                <option selected value="">Tipo de usuario</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">CERRAR</button>
                            <button type="submit" class="btn btn-primary">REGISTRAR</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="modalEditar" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <form id="editarUsuario">
                        <div class="modal-header">
                            <h5 class="modal-title" id="staticBackdropLabel">Actualizar Usuario</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="card">
                                <div class="card-body">
                                    <div class="row">
                                        <input type="hidden" id="idUsuario" name="idUsuario"/>
                                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 mb-2 d-flex flex-column justify-content-end">
                                            <label class="form-label" placeholder="Nombre">Ingresa primer y segundo nombre</label>
                                            <input class="form-control" type="text" required name="nombres" id="nombres"/>
                                        </div>
                                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 mb-2 d-flex flex-column justify-content-end">
                                            <label class="form-label" placeholder="Apellido">Ingresa primer y segundo apellido</label>
                                            <input class="form-control" type="text" required name="apellidos" id="apellidos"/>
                                        </div>
                                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 mb-2 d-flex flex-column justify-content-end">
                                            <label class="form-label" placeholder="Docuemnto">Documento</label>
                                            <input class="form-control" type="text" required name="documento" id="documento" />
                                        </div>
                                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 mb-2 d-flex flex-column justify-content-end">
                                            <select class="form-select" required id="tipoDeDocumento2" name="tipoDocumento">
                                                <option selected value="">Tipo de documento</option>
                                            </select>
                                        </div>
                                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 mb-2 d-flex flex-column justify-content-end">
                                            <label class="form-label" placeholder="direccion"> Direccion</label>
                                            <input class="form-control" type="text" required name="direccion" id="direccion" />
                                        </div>
                                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 mb-2 d-flex flex-column justify-content-end">
                                            <laber class="form-label" placeholder="telefono">Telefono</laber>
                                            <input class="form-control" type="text" required name="telefono" id="telefono" />
                                        </div>
                                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 mb-2 d-flex flex-column justify-content-end">
                                            <label class="form-label" placeholder="fecha de nacimiento"> Fecha de nacimiento </label>
                                            <input class="form-control" type="date" required name="fechanacimiento" id="fechanacimiento" />
                                        </div>
                                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 mb-2 d-flex flex-column justify-content-end">
                                            <label class="form-label" placeholder="ingrese correo electronico"> Ingrese correo electronico</label>
                                            <input class="form-control" type="email" required name="ingresecorreoelectronico" id="ingresecorreoelectronico"/>
                                        </div>
                                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 mb-2 d-flex flex-column justify-content-end">
                                            <select class="form-select" required id="tipoUsuario2" name="TipoUsuario">
                                                <option selected value="">Tipo de usuario</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">CERRAR</button>
                            <button type="submit" class="btn btn-primary">ACTUALIZAR</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    @section Scripts{
    <script>
        $( document ).ready(function() {
            traerTiposDeDocumento();
            traerTipoDeUsuario();
            traerUsuarios();
        });

        function traerTiposDeDocumento(){
            const select=document.getElementById('tipoDeDocumento');
            const select2=document.getElementById('tipoDeDocumento2');
            $.ajax({
                type: "GET",
                url: '@Url.Action("TraerTiposDeDocumento","Administrador")',
                success: function(respuesta){
                    var tipoDeDocumentos=respuesta.tipoDocumentos;
                    //console.log(tipoDeDocumentos);
                    var plantilla='';
                    tipoDeDocumentos.forEach(tipoDeDocumento => {
                        plantilla+=`<option value="${tipoDeDocumento.id}">${tipoDeDocumento.tipo}</option>`
                    });
                    select.innerHTML+=plantilla;
                    select2.innerHTML+=plantilla;
                }
            });
        }

        function traerTipoDeUsuario(){
            const select=document.getElementById('tipoUsuario');
            const select2=document.getElementById('tipoUsuario2');
            $.ajax({
                type: "GET",
                url: '@Url.Action("TraerTipoDeUsuario","Administrador")',
                success: function(respuesta){
                    var tipoUsuarios=respuesta.tipoUsuarios;
                    //console.log(tipoUsuarios);
                    var plantilla='';
                    tipoUsuarios.forEach(tipoUsuario => {
                        plantilla+=`<option value="${tipoUsuario.id}">${tipoUsuario.tipo}</option>`
                    });
                    select.innerHTML+=plantilla;
                    select2.innerHTML+=plantilla;
                }
            });

        }

        function dataTable(){
            const datatablesSimple = document.getElementById('datatablesSimple');
            if (datatablesSimple) {
                new simpleDatatables.DataTable(datatablesSimple);
            }
        }

        function traerUsuarios(){
            $.ajax({
                type: "GET",
                url: '@Url.Action("TraerUsuarios","Administrador")',
                success: function(respuesta){
                    //console.log(respuesta);
                    var Usuarios = respuesta.usuarios;
                    //console.log(Usuarios);
                    var plantilla='';
                    var contador = 1;
                    Usuarios.forEach(Usuario => {
                        plantilla+=`<tr ID="${Usuario.id}">
                            <td>${contador}</td>
                            <td>${Usuario.nombre1}</td>
                            <td>${Usuario.apellido1}</td>
                            <td>${Usuario.edad}</td>
                            <td>${Usuario.noDocumento}</td>
                            <td>${Usuario.telefono}</td>
                            <td>${Usuario.direccion}</td>
                            <td>${Usuario.email}</td>
                            <td>${Usuario.tipoUsuario}</td>
                            <td>${Usuario.estado}</td>
                            <td>
                                <div class="btn-group">
                                    <a class="btn btn-primary editar" data-bs-toggle="modal" data-bs-target="#modalEditar">Editar<a>
                                    <a class="btn btn-danger eliminar">Eliminar<a>
                                </div>
                            </td>
                        </tr>`
                        contador+=1;
                    });
                    $('#tablaUsuarios').html(plantilla);
                    dataTable();
                }
            });
        }

        $('#registro').submit(function(e){
            $.ajax({
                type: "POST",
                data: $('#registro').serialize(),
                url:'@Url.Action("RegistrarUsuario","Administrador")',
                success: function(respuesta){
                    switch(respuesta){
                        case "contraseñas incorrectas":
                            Swal.fire({
                                icon: 'info',
                                title: 'Contraseñas no coinciden',
                                text: 'Las contraseñas no son iguales'
                            });
                            break;
                        case "correo y documento existentes":
                            Swal.fire({
                                icon: 'info',
                                title: 'Se encontraron registros',
                                text: 'El documento y el correo ya se encuentran registrados'
                            });
                            break;
                        case "documento existente":
                            Swal.fire({
                                icon: 'info',
                                title: 'Se encontraron registros',
                                text: 'El Documento ya se encuentra registrado'
                            });
                            break;
                        case "email existente":
                            Swal.fire({
                                icon: 'info',
                                title: 'Se encontraron registros',
                                text: 'El Email ya se encuentra registrado'
                            });
                            break;
                        case "registro realizado":
                            Swal.fire({
                                icon: 'success',
                                title: 'Registro realizado',
                                allowOutsideClick: false,
                                confirmButtonText: 'De acuerdo'

                            }).then((result) => {
                                /* Read more about isConfirmed, isDenied below */
                                $('#registro').trigger('reset');
                                $('#staticBackdrop').modal('hide');
                                traerUsuarios();
                            });
                            break;
                        default:
                            console.log(respuesta);
                            break;
                    }
                }
            });
            e.preventDefault();
        });

        $(document).on('click','.editar', function(){
            var element=$(this)[0].parentElement.parentElement.parentElement;
            //console.log(element);
            var id=$(element).attr('id');
            $.ajax({
                type: "GET",
                url: '@Url.Action("TraerUsuarioU","Administrador")',
                data: {id:id},
                success: function(respuesta){
                    //console.log(respuesta);
                    var usuario = respuesta.usuario[0];
                    $('#idUsuario').val(usuario.id);
                    $('#nombres').val(usuario.nombre1);
                    $('#apellidos').val(usuario.apellido1);
                    $('#documento').val(usuario.noDocumento);
                    $('#tipoDeDocumento2').val(usuario.idTipoDocumento);
                    $('#direccion').val(usuario.direccion);
                    $('#telefono').val(usuario.telefono);
                    $('#fechanacimiento').val(usuario.fechaNacimiento);
                    $('#ingresecorreoelectronico').val(usuario.email);
                    $('#tipoUsuario2').val(usuario.idTipoUsuario);
                }
            });
        });

        $('#editarUsuario').submit(function(e){
            $.ajax({
                type: "POST",
                data: $('#editarUsuario').serialize(),
                url:'@Url.Action("EditarUsuario","Administrador")',
                success: function(respuesta){
                    switch(respuesta){
                        case "correo existe":
                            Swal.fire({
                                icon: 'info',
                                title: 'Se encontraron registros',
                                text: 'El Email ya se encuentra registrado'
                            });
                            break;
                        case "documento existe":
                            Swal.fire({
                            icon: 'info',
                            title: 'Se encontraron registros',
                            text: 'El Documento ya se encuentra registrado'
                        });
                            break;
                        case "actualizado":
                            traerUsuarios();
                            Swal.fire({
                            icon: 'success',
                            title: 'Usuario Actualizado',
                            allowOutsideClick: false,
                            confirmButtonText: 'De acuerdo'
                            }).then((result) => {
                                /* Read more about isConfirmed, isDenied below */
                                $('#editarUsuario').trigger('reset');
                                $('#modalEditar').modal('hide');
                            });
                            break;
                        default:
                            console.log(respuesta);
                            break;
                    }
                }
            });
            e.preventDefault();
        });


        $(document).on('click','.eliminar', function(){
            var element=$(this)[0].parentElement.parentElement.parentElement;
            //console.log(element);
            var id=$(element).attr('id');
            $.ajax({
                type: "POST",
                url: '@Url.Action("EliminarUsuario","Administrador")',
                data: {id:id},
                success: function(respuesta){
                    switch(respuesta){
                        case "eliminado":
                            traerUsuarios();
                            Swal.fire({
                            icon: 'success',
                            title: 'Usuario Eliminado',
                            allowOutsideClick: false,
                            confirmButtonText: 'De acuerdo'
                            });
                            break;
                        default:
                            console.log(respuesta);
                            break;
                    }
                }
            });
        });
    </script>
    }
</body>