@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_LayoutUsuario";
}
<head>
</head>
<body>
    <div class="container">
        <div class="card mt-4" id="cardClaseSolicitada" hidden>
            <div class="card-header">
                <h5>Solicitud de clases Teoricas</h5>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table align-middle table-bordered">
                        <thead class="table-primary">
                            <tr>
                                <th>Nombre Tutor</th>
                                <th>Licencia</th>
                                <th>Fecha Solicitud</th>
                                <th>Fecha Finalizacion</th>
                                <th>Estado</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody id="claseSolicitada"></tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="card mt-4">
            <form id="registrarClase">
                <div class="card-header">
                    <h5>Solicitar Clase Teorica</h5>
                </div>
                <div class="card-body">
                    <div class="row">
                        <input type="hidden" name="idUsuario" value="@User.Identity.Name" />    
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 mb-2">
                            <label class="form-label">Licencia</label>
                            <select class="form-select" required id="idLicencia" name="idLicencia">
                                <option selected value="">SELECCIONAR</option>
                            </select>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 mb-2">
                            <label class="form-label">Tutor</label>
                            <select class="form-select" required id="idTutor" name="idTutor">
                                <option selected value="">SELECCIONAR</option>
                            </select>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 mb-2 d-flex align-items-end">
                            <button class="btn btn-primary" type="submit" style="height:min-content; width:100%;">SOLICITAR</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="card mt-2" id="cardDescripcionLicencia" hidden>
            <div class="card-header"><h5>Descripcion de la licencia:</h5></div>
            <div class="card-body" id="descripcionLicencia"></div>
        </div>
        <div class="card mt-2" id="cardHorarioTeorico" hidden>
            <div class="card-header">
                <h5>Horario Clases Teoricas: <strong></strong></h5>
            </div>
            <div class="card-body" id="tablaHorario"></div>
        </div>
    </div>
    @section Scripts{
    <script>
        $( document ).ready(function() {
            traerLicencias();
            traerTutores();
            traerClaseTeorica();
            var TutorA=false;
        });

        function traerLicencias(){
            const select=document.getElementById('idLicencia');
            $.ajax({
                type: "GET",
                url: '@Url.Action("TraerLicencias","Usuario")',
                success: function(respuesta){
                    //console.log(respuesta);
                    var licencias = respuesta.licencias;
                    var plantilla='';
                    licencias.forEach(licencia => {
                        plantilla+=`<option value="${licencia.id}" descripcion="${licencia.descripcion}">${licencia.categoria}</option>`
                    });
                    select.innerHTML+=plantilla;
                }
            });
        }

        function traerTutores(){
            const select=document.getElementById('idTutor');
            $.ajax({
                type: "GET",
                url: '@Url.Action("TraerUsuariosTutores","Usuario")',
                success: function(respuesta){
                    //console.log(respuesta);
                    var Tutores = respuesta.tutores;
                    var plantilla='';
                    Tutores.forEach(tutor => {
                        plantilla+=`<option value="${tutor.id}">${tutor.nombre1} ${tutor.apellido1}</option>`
                    });
                    select.innerHTML+=plantilla;
                }
            });
        }

        $('#idLicencia').change(function(){
            var descripcion = $('option:selected', this).attr('descripcion');
            if(descripcion){
                //console.log(descripcion);
                $('#cardDescripcionLicencia').removeAttr('hidden');
                $('#descripcionLicencia').html(descripcion)
            }else{
                $('#cardDescripcionLicencia').prop('hidden', 'hidden');
            }
        });

        $('#idTutor').change(function(){
            var id=$('#idTutor').val();
            if(id != ""){
                //console.log(id);
                $.ajax({
                    type: "GET",
                    url: '@Url.Action("TraerHorarioTutorTeorico","Usuario")',
                    data: {id:id},
                    success: function(respuesta){
                        if(respuesta=="no hay"){
                            $('#cardHorarioTeorico').removeAttr('hidden');
                            $('#tablaHorario').html("No hay Horario Registrado para este Tutor");
                            TutorA = false;
                        }
                        else{
                            TutorA = true;
                            plantillaHorario();
                            $('#cardHorarioTeorico').removeAttr('hidden');
                            var Dias = new Array("LUNES", "MARTES", "MIERCOLES", "JUEVES", "VIERNES", "SABADO");
                            var Horas = new Array("6:00 am - 7:59am", "8:00 am - 9:59am", "10:00 am - 11:59am");
                            //console.log(respuesta);
                            var Horarios = respuesta.horarioTutors;
                            //console.log(Horarios);
                            //console.log(Dias);
                            //console.log(Horas);
                            Horarios.forEach(Horario => {
                                //console.log(Horario);
                                Dias.forEach(Dia => {
                                    if(Horario.dia==Dia){
                                        Horas.forEach(Hora => {
                                            if(Horario.hora == Hora){
                                                document.getElementById(Dia +'-' + Hora).classList.toggle('table-info');
                                                document.getElementById(Dia +'-' + Hora).innerHTML='ASIGNADO';
                                            }
                                        });
                                    }
                                });
                            });
                        }
                    }
                });
            }else{
                $('#cardHorarioTeorico').prop('hidden', 'hidden');
            }
        });

        function plantillaHorario(){
            var plantilla='';
            plantilla+=`<div class="table-responsive">
                <table class="table align-middle table-bordered">
                    <thead class="table-primary">
                        <tr>
                            <th>HORA</th>
                            <th>LUNES</th>
                            <th>MARTES</th>
                            <th>MIERCOLES</th>
                            <th>JUEVES</th>
                            <th>VIERNES</th>
                            <th>SABADO</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>6:00 am - 7:59am</td>
                            <td id="LUNES-6:00 am - 7:59am"></td>
                            <td id="MARTES-6:00 am - 7:59am"></td>
                            <td id="MIERCOLES-6:00 am - 7:59am"></td>
                            <td id="JUEVES-6:00 am - 7:59am"></td>
                            <td id="VIERNES-6:00 am - 7:59am"></td>
                            <td id="SABADO-6:00 am - 7:59am"></td>
                        </tr>
                        <tr>
                            <td>8:00 am - 9:59am</td>
                            <td id="LUNES-8:00 am - 9:59am"></td>
                            <td id="MARTES-8:00 am - 9:59am"></td>
                            <td id="MIERCOLES-8:00 am - 9:59am"></td>
                            <td id="JUEVES-8:00 am - 9:59am"></td>
                            <td id="VIERNES-8:00 am - 9:59am"></td>
                            <td id="SABADO-8:00 am - 9:59am"></td>
                        </tr>
                        <tr>
                            <td>10:00 am - 11:59am</td>
                            <td id="LUNES-10:00 am - 11:59am"></td>
                            <td id="MARTES-10:00 am - 11:59am"></td>
                            <td id="MIERCOLES-10:00 am - 11:59am"></td>
                            <td id="JUEVES-10:00 am - 11:59am"></td>
                            <td id="VIERNES-10:00 am - 11:59am"></td>
                            <td id="SABADO-10:00 am - 11:59am"></td>
                        </tr>
                    </tbody>
                </table>
            </div>`
            $('#tablaHorario').html(plantilla);
        }

        $('#registrarClase').submit(function(e){
            if(TutorA){
                $.ajax({
                    type: "POST",
                    data: $('#registrarClase').serialize(),
                    url:'@Url.Action("RegistrarClase","Usuario")',
                    success: function(respuesta){
                        switch(respuesta){
                            case "clase solicitada":
                                Swal.fire({
                                    icon: 'info',
                                    title: 'Clase Solicitada',
                                    text: 'En este momento, usted se encuentra con un curso de clase teorica solicitada'
                                });
                                break;
                            case "registro realizado":
                                traerClaseTeorica();
                                $('#registrarClase').trigger('reset');
                                Swal.fire({
                                    icon: 'success',
                                    title: 'Registro realizado',
                                    allowOutsideClick: false,
                                    confirmButtonText: 'De acuerdo'
                                });
                                break;
                            default:
                                console.log(respuesta);
                                break;
                        }
                    }
                });
            }else{
                Swal.fire({
                    icon: 'info',
                    title: 'Tutor sin Horario',
                    text: 'Este Tutor no tiene actualmente registrado un horario'
                });
            }
            e.preventDefault();
        });

        function traerClaseTeorica(){
            //var id = 10;
            var id = @User.Identity.Name;
            $.ajax({
                type: "GET",
                url: '@Url.Action("TraerClaseUsuario","Usuario")',
                data: {id:id},
                success: function(respuesta){
                    if(respuesta != "no hay"){
                        //console.log(respuesta);
                        var Clases = respuesta.clases;
                        var plantilla='';
                        var color='';
                        var eliminar = false;
                        Clases.forEach(Clase => {
                            switch(Clase.idEstado){
                                case 1:
                                    color = 'class="table-info"';
                                    eliminar = true;
                                    break;
                                case 2:
                                    color = 'class="table-warning"';
                                    break;
                                case 3:
                                    color = 'class="table-success"';
                                    break;
                                case 4:
                                    color = 'class="table-danger"';
                                    break;
                            }
                            plantilla+=`<tr id="${Clase.id}">
                                <td>${Clase.nombre1Tutor} ${Clase.apellido1Tutor}</td>
                                <td>${Clase.categoriaLicencia}</td>
                                <td>${Clase.fechaSolicitud}</td>
                                <td>${Clase.fechaFinalizacion}</td>
                                <td ${color}>${Clase.descripcionEstado}</td>`
                                if(eliminar){
                                    plantilla+=`<td>
                                        <div class="btn-group">
                                            <a class="btn btn-danger eliminar">Eliminar<a>
                                        </div>
                                    </td>`
                                }
                            plantilla+=`</tr>`
                        });
                        $('#claseSolicitada').html(plantilla);
                        $('#cardClaseSolicitada').removeAttr('hidden');
                    }else{
                        $('#cardClaseSolicitada').prop('hidden', 'hidden');
                    }
                }
            });
        }

        $(document).on('click','.eliminar', function(){
            var element=$(this)[0].parentElement.parentElement.parentElement;
            //console.log(element);
            var id=$(element).attr('id');
            $.ajax({
                type: "POST",
                url: '@Url.Action("EliminarClase","Usuario")',
                data: {id:id},
                success: function(respuesta){
                    switch(respuesta){
                        case "eliminado":
                            traerClaseTeorica();
                            Swal.fire({
                                icon: 'success',
                                title: 'Clase Eliminada',
                                allowOutsideClick: false,
                                confirmButtonText: 'De acuerdo'
                            });
                            break;
                        default:
                            console.log(respuesta);
                            break;
                    }
                }
            });
        });
    </script>
    }
</body>
